<%- include("partial/header/"); %>
   <h1>HOME</h1>
   
  <p><%= homeStartingContent %></p> 
<% posts.forEach(function(post){ %> 
  <h2><%= post.title %></h2>
  
<p> <%= post.body.substring(0,30)+"....." %>

  <a href="/post/<%=post._id %> ">Read more</a>
</p>
<% } ) %>

<%- include("partial/footer/");%>
